<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input Studio</title>
</head>
<body>

  <h1>Input Studio</h1>

  <form action="/input-studios" method="POST">

    <p>
      <label for="studio_number">Studio Number:</label><br>
      <input type="number" id="studio_number" name="studio_number" required>
    </p>

    <p>
      <label for="seat_capacity">Seat Capacity:</label><br>
      <input type="number" id="seat_capacity" name="seat_capacity" required>
    </p>

    <p>
      <button type="submit">Simpan</button>
    </p>

  </form>

</body>
</html>
